mat-toolbar {
    margin-bottom: 20px;
}
  
mat-toolbar > span {
    margin-left: 10px;
}
  
.yellow-text {
    color: #FDC435;
}

.myname {
    color: #333333;
    font-size: 64px;
}

.normal-text {
    color: #333333;
}

.desc-text{
    color: #828282;
}

.center{
    width: 80%;
    margin: 10px auto;
}

.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.mat-card.home-card {
    padding: 0 !important;
}

.nav-home {
    background-color: white;
}

.nav-home span {
    font-size: 11pt;
}