<!-- <mat-toolbar>
  <mat-icon>nichaphat-port</mat-icon>
  <span class="example-spacer"></span>
  <span>About</span>
  <span>Projects</span>
  <span>Contacts</span>
</mat-toolbar> -->
  <div class="main-div" >
    <router-outlet></router-outlet>
      <!-- <mat-toolbar class="nav-home ma-0">
        <span class="normal-text">nichaphat-port</span>
        <span class="spacer"></span>
        <button mat-button>About</button>
        <button mat-button>Projects</button>
        <button mat-button>Contacts</button>
      </mat-toolbar> -->

        
  </div>
