<!-- <mat-toolbar>
  <mat-icon>nichaphat-port</mat-icon>
  <span class="example-spacer"></span>
  <span>About</span>
  <span>Projects</span>
  <span>Contacts</span>
</mat-toolbar> -->
  <div class="main-div" >
    <mat-card class="home-card center pa-0" flex="50">
      <mat-toolbar class="nav-home ma-0">
        <span class="normal-text">nichaphat-port</span>
        <span class="spacer"></span>
        <button mat-button>About</button>
        <button mat-button>Projects</button>
        <button mat-button>Contacts</button>
      </mat-toolbar>
      <div class="row pl-3">
        <div class="col my-5 mx-5">
          <div class="yellow-text">DEVELOPER</div>
          <div class="myname mt-4"><h1><b>Nichaphat</b></h1></div>
          <div class="myname"><h1><b>Jumpachot</b></h1></div>
          <div class="desc-text">Strong engineering professional with a Bachelor of Engineering Education focused in Computer Engineering from King Mongkut's Institute of Technology Ladkrabang.
            <br/>
            <span>I have 4+ years of experience as a Software Engineer and a Senior Developer with a demonstrated history of working in the program development industry.</span>
            <br/>
            <br/>
            <span>My skills include parts of both front-end and back-end in web application development, I mainly use JAVA Spring Boot and Spring MVC, JavaServer Pages (JSP), HTML, CSS, Javascript, TypeScript (Angular 6 and Vue.js), SQL, SOQL, and Salesforce CRM (APEX class, visualforce page, and aura lightning).</span>
          </div>
          
          <div class="mt-4">    
            <button mat-flat-button color="primary" class="mx-1">Projects</button>
            <button mat-stroked-button color="primary">LinkedIn</button>
          </div>
        </div>
        <div class="col">
          <!-- <div>Photo</div> -->

        </div>
      </div>

        
    </mat-card>
  </div>
