<div class="row pl-3">
  <div class="col-12 col-md-7 my-5">
    <div class="px-5">
      <div class="yellow-text">SALESFORCE DEVELOPER</div>
      <div class="myname mt-4">
        <h1><b>Nichaphat Jumpachot </b><b> (Gie)</b></h1>
      </div>
      <div class="desc-text">
        Strong engineering professional with a Bachelor of Engineering Education
        focused in Computer Engineering from King Mongkut's Institute of
        Technology Ladkrabang.
        <br />
        <span
          >I have 4+ years of experience as a Software Engineer and a Senior
          Developer with a demonstrated history of working in the program
          development industry.</span
        >
        <br />
        <br />
        <span
          >My skills include parts of both front-end and back-end in web
          application development, I mainly use JAVA Spring Boot and Spring MVC,
          JavaServer Pages (JSP), HTML, CSS, Javascript, TypeScript (Angular 6
          and Vue.js), SQL, SOQL, and Salesforce CRM (APEX class, visualforce
          page, and aura lightning).</span
        >
      </div>

      <div class="mt-4">
        <!-- <button
          mat-flat-button
          color="primary"
          class="mx-1"
          (click)="toProject()"
        >
          Resume
        </button> -->
        <button class="mx-1" mat-flat-button color="primary" (click)="linkedIn()">
          LinkedIn
        </button>
        <button mat-stroked-button color="primary" (click)="trailhead()">
          Trailblazer
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-5 d-flex justify-content-center">
    <div class="d-flex justify-content-center"><img class="align-self-center responsive ma-5" width="50%" src="/assets/resume-home.png" alt="image"></div>
  </div>
</div>